@media (max-width: 768px) {
    .menu {
        display: flex;
    }

    nav ul {
        display: none !important;
    }

    /* .text-home {
        display: flex;
        flex-direction: column;
        margin-top: 8.5em;
        gap: 1em; 
    } */
    
    .home h1 {
        color: white;
        font-size: 31px;
        font-weight: bold;
    }
    
    .sub-title {
        font-size: 12px; 
    }

    .card-area {
        flex-direction: column;
    }

}

@media (max-width: 613px) {
    .home {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        padding: 0 10%;
        width: 100%;
    }

    .text-home {
        display: flex;
        flex-direction: column;
        margin-top: 0 !important;
        gap: 1em;
        align-items: center;
    }

    .sub-title {
        text-align: center;
    }

    .image-home {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4em;
    }
}


@media (max-width: 320px) {
    .home h1 {
        font-size: 26px;
    }
    .image-home {
        margin-top: 18em;
    }
}